* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 620px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  
}

.secao {
  width: 280px;
  border: 1px solid black;
  margin: 15px;
  display: flex;
  flex-direction: row;
  border-radius: 3%;
}

.secao p {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 25%;
  margin-left: 20px;
}

.secao img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 25%;
}